src/__pycache__/algorithms.cpython-313.pyc
src/__pycache__/ventana.cpython-313.pyc
src/__pycache__/utilities.cpython-313.pyc
src/__pycache__/ventana.cpython-312.pyc
src/__pycache__/utilities.cpython-312.pyc
src/__pycache__/algorithms.cpython-312.pyc
